body {
    margin: 0;
    padding: 0;
  }
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 533px;
  }
  .imageBox {
    position: absolute;
    top: 0;
    left: 0;
  }
  .imageAfter {
    width: 0;
    transition: 2s;
    overflow: hidden;
  }
  .container:hover .imageAfter {
    width: 100%;
  }
  @media screen and (max-width: 500px) {
    body {
     
          display: grid;
         
        }
      
    }
      
    }
  
  