*{

    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.container
{
    width: 400px;
    height: 400px; 
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    box-shadow: 0 10px 20px crimson;

}
img{
    height: 400px;
    width: 400px;
}
.overlay{
    position: absolute ;
    top:0;
    left: 0;
    right:0;
    bottom: 0;
    opacity: 0;
    transition:opacity 0.4s ease-in-out;
    background: black;
    cursor :pointer;
}
.content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color:white;
    font-family:verdana;
    text-align:center;
}
.container:hover .overlay{
   opacity: 0.8;
}

